<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!-- 配置别名 -->
   <typeAliases>
    <package name="com.aaa.entity"/>
   </typeAliases>
   <plugins>
     <plugin interceptor="com.github.pagehelper.PageHelper"></plugin>
   </plugins>
   <!-- 采用spring提供的连接池 -->

   <!-- 采用spring的mapper的扫描器，自动扫描mapperdao接口和mapper文件保持一致 -->


</configuration>